.get-started {
    padding: 50px 0px 50px;
    position: relative;
    top: 150px;
    z-index: 1;
    @media screen and (max-width:768px){
        padding: 35px 0;
    }
    &-container {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        @media screen and (max-width:1280px){
            padding-left: 5%;
            padding-right: 5%;
        }
        .get-started-content {
            padding: 50px 75px 40px;
            background: $intro-bg;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            max-width: 860px;
            @media screen and(max-width:768px) {
                padding:50px 50px 40px;
            }
            @media screen and (max-width:576px){
                padding: 30px 20px 30px;
            }
            .get-started-heading{
                font-size: 32px;
                color: $white;
                @media screen and (max-width:576px){
                    font-size: 22px;
                    text-align: center;
                }
            }
            .get-started-description{
                color: $white;
                filter: brightness(0.85);
                text-align: center;
                padding:0 5%;
                margin-top: 25px;
            }
            #get-started-form {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 35px;
                @media screen and (max-width:992px){
                    flex-direction: column;
                }
                input {
                    max-width: 480px;
                    height: 48px;
                    width: 100%;
                    text-indent: 38px;
                    border-radius: 500px;
                }
                .started-btn {
                    @include btn-primary;
                    @include btn-large;
                    height: 48px;
                    margin-left: 30px;
                    width: 200px;
                    @media screen and(max-width:992px) {
                        margin-left: 0;
                        margin-top: 30px;
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
