.header {
    background: $intro-bg;
    @media screen and (max-height: 720px) {
        margin-bottom: 70px;
    }
    &-container {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        min-height: 100vh;
        @media screen and (max-width: 1280px) {
            padding-left: 5%;
            padding-right: 5%;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 70px;
            position: relative;
            @media screen and (max-width: 768px) {
                padding-top: 45px;
            }
            @media screen and (max-width: 576px) {
                padding-top: 25px;
            }
            .navbar-brand {
                .logo {
                    @media screen and(max-width:768px) {
                        width: 160px;
                    }
                    @media screen and(max-width:576px) {
                        width: 100px;
                    }
                }
            }
            .nav-list {
                @media screen and (max-width: 576px) {
                    position: fixed;
                    transform: translateY(-100%);
                    opacity: 0;
                    transition: transform 0.3s ease-in;
                    &.nav-active {
                        transform: translateY(0%);
                        position: fixed;
                        left: 0;
                        right: 0;
                        top: 0;
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 40vh;
                        background-color: $testimonial-bg;
                        z-index: 3;
                        margin-top: 90px;
                        border-radius: 25px;
                        box-shadow: 1px 0px 16px 3px rgba(24, 31, 42, 0.47);
                        opacity: 1;
                    }
                }
                .nav-link {
                    color: $white;
                    filter: brightness(0.85);
                    margin: 0 22px;
                    &:hover {
                        filter: brightness(1);
                        text-decoration: underline;
                    }
                    @media screen and (max-width: 576px) {
                        margin: 15px 0;
                    }
                }
            }
            .burger-menu {
                display: none;
                z-index: 4;
                @media screen and (max-width: 576px) {
                    position: fixed;
                    right: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 3px;
                }
                &.burger-animation {
                    .bar-1 {
                        transform: translateY(9px) rotate(-45deg);
                    }
                    .bar-2 {
                        transform: translateX(-50px);
                        opacity: 0;
                    }
                    .bar-3 {
                        transform: translateY(-7px) rotate(45deg);
                    }
                }
                .bar {
                    background-color: $white;
                    width: 30px;
                    height: 3px;
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
                .bar-2 {
                    margin: 5px;
                }
            }
        }
        .intro {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 5%;
            @media screen and(max-width:576px) {
                margin-top: 10%;
            }
            .intro-text {
                margin-top: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 680px;
                text-align: center;
                z-index: 1;
                .intro-heading {
                    color: $white;
                    font-size: 32px;
                    @media screen and (max-width: 576px) {
                        font-size: 22px;
                    }
                }
                .intro-description {
                    color: $white;
                    filter: brightness(0.85);
                    margin-top: 40px;
                    margin-bottom: 32px;
                    line-height: 1.6;
                    padding: 0 50px;
                    @media screen and (max-width: 576px) {
                        padding: 0 20px;
                    }
                }
            }
            .header-btn {
                @include btn-primary;
                @include btn-large;
                z-index: 1;
            }
        }
    }
    .header-bg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: -200px;
        @media screen and (max-width: 576px) {
            min-height: 150px;
        }
    }
}

// .navbar {
//     font-family: $font-alata;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 1;
//     &-container {
//         max-width: 1100px;
//         margin-left: auto;
//         margin-right: auto;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: center;
//         padding-top: 60px;
//         position: relative;
//         @media screen and (max-width: 1200px) {
//             padding-left: 5%;
//             padding-right: 5%;
//         }
//         .navbar-brand {
//             z-index: 2;
//             img {
//                 width: 200px;
//                 @media screen and (max-width:768px){
//                     width: 150px;
//                 }
//             }
//         }
//         .nav-list {
//             @media screen and (max-width:992px){
//                 position: absolute;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: flex-start;
//                 width: 100%;
//                 left:0;
//                 right:0;
//                 top:0;
//                 height: 100vh;
//                 min-height: 750px;
//                 padding-left: 5%;
//                 padding-right: 5%;
//                 background-color: $black;
//                 transform: translateX(-100%);
//                 transition: transform 0.3s ease-in-out;
//                 &.nav-active{
//                     transform: translateX(0%);
//                 }
//             }
//             .nav-link {
//                 margin-left: 17px;
//                 margin-right: 17px;
//                 font-size: 1rem;
//                 color: $white;
//                 @media screen and (max-width:992px){
//                     margin:25px 0;
//                     font-size: 1.5rem;
//                     text-transform: uppercase;
//                 }
//             }
//         }
//         .burger-menu{
//             cursor: pointer;
//             display: none;
//             z-index: 2;
//             margin-bottom: 5px;
//             @media screen and (max-width:992px){
//                 display: block;
//             }
//             .bar{
//                 width: 35px;
//                 height: 4px;
//                 background-color: $white;
//                 margin:5px 0;
//                 opacity: 1;
//                 transition: all 0.3s ease-in-out;
//             }
//             &.burger-menu-ani{
//                 .bar-1{
//                     transform: rotate(-45deg) translate(-8px, 5.5px);
//                     opacity: 1;
//                 }
//                 .bar-2{
//                     transform: translateX(-100%);
//                     opacity: 0;
//                 }
//                 .bar-3{
//                     transform: rotate(45deg) translate(-7px,-4px);
//                     opacity: 1;
//                 }
//             }
//         }
//     }
// }
