.testimonials {
    padding: 50px 0;
    position: relative;
    top: 100px;
    @media screen and (max-width:768px){
        padding: 35px 0;
    }
    &-container {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        justify-items: center;
        @media screen and (max-width: 1280px) {
            padding-left: 5%;
            padding-right: 5%;
        }
        @media screen and (max-width:992px){
            grid-template-columns: 1fr 1fr ;
        }
        @media screen and (max-width:768px){
            grid-template-columns: 1fr;
        }
        .testimonials-card-item {
            background: $testimonial-bg;
            padding: 24px;
            border-radius: 5px;
            position: relative;
            &:nth-child(1){
                &::before{
                    content: url(../../img/bg-quotes.png);
                    position: absolute;
                    top: -35px;
                    left: -10px;
                    z-index: -1;
                }
            }
            .testimonials-body {
                .testimonials-content {
                    color: $white;
                    filter: brightness(0.85);
                    line-height: 1.6;
                    letter-spacing: 0.5px;
                }
            }
            .testimonials-footer {
                display: flex;
                align-items: center;
                margin-top:25px;
                .profile-avatar {
                    width: 26px;
                    height: 26px;
                    img {
                        border-radius: 50%;
                    }
                }
                .profile-info{
                    margin-left: 7px;
                    display: flex;
                    flex-direction: column;
                    .profile-name{
                        font-size: 13px;
                        color: $white;
                    }
                    .profile-job{
                        font-size: 11px;
                        color: $white;
                        filter: brightness(0.7);
                    }
                }
            }
        }
    }
}
