@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

// Primary Colors
$main-bg:hsl(218, 28%, 13%);
$intro-bg:hsl(217, 28%, 15%);
$footer-bg:hsl(216, 53%, 9%);
$testimonial-bg:hsl(219, 30%, 18%);

// Accent Colors
$cyan:hsl(176, 68%, 64%);
$blue:hsl(198, 60%, 50%);
$error:hsl(0, 100%, 63%);

// Neutral Color
$white:hsl(0, 0%, 100%);

// Fonts
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;


